@media only screen and (min-width: 48.9em){
  }
h1{
  font-size: 35px;
}
h2{
  font-size: 30px;
}
h3{
  font-size: 25px;
}
h4, p{
  font-size: 20px;
}
h5{
  font-size: 15px;
}
  main{
    grid-template-columns: repeat(3, 1fr);
  }
}
.photos {
  display: flex;
  flex-wrap: wrap;
  height: space-evenly;
  width: space-evenly;
  grid-column: auto;
  border-radius: 2% 2% 2% 2%;
  justify-content: space-around;
    }
.centered2 {
  font-size: 40px;
}
 */
.container {
  display: grid;
   grid-template-columns: repeat(auto-fill, 1fr 1fr 1fr));
   grid-gap: 1rem;
}