@media only screen and (min-width: 60em) {
    h1 {
        font-size: 3rem;
    }
    h2 {
        font-size: 2.5em;
        margin-left: 20px;
    }
    nav a {
        font-size: 1.1rem;
    }
    .logo_img {
        max-width: 40%;
        margin: 1em 0 0 1.8em;
    }
    .title {
        margin-bottom: -4em;
    }
    .motto {
        margin-top: -1em;
    }
    .heroImg {
        max-width: 90%;
        margin: 0 0 0 1.2rem;
    }
    .towns {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .towns section {
        display: block;
    }
    .towns section img {
        margin: 0;
    }
    .map {
        margin: 0 5em 0 5em;
    }
    .contactInfo {
        margin: 0 5em 0 5em;
    }
}