body {
    font-size: 16px;
    font-family: 'Scope One', serif;
}
p {
    color: white;
}

header {
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: #536564;
    padding: 10px;
}

footer {
    background-color: #536564;
    display: block;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-bottom: 1em solid #022B3A;
}

footer {
    max-width: 95%;
    margin: 0 auto;
}

nav {
    background-color: #022B3A;
    text-align: center;
    justify-content: center;
    box-shadow: 0 2px 15px gray;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    justify-content: center;
}

nav ul li a {
    display: block;
    color: #fff;
    text-align: center;
    justify-content: center;
    padding: 1rem;
    text-decoration: none;
    font-size: 0.95rem;
}

nav a:hover {
    background-color: #1F7A8C;
    color: #fff;
}

.active {
    background-color: #1F7A8C;
}

.navigation {
    list-style: none;
    padding: 0;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    padding: 0.75rem;
    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: 700;
}

.navigation a:hover {
    color: #1F7A8C;
    background-color: #022B3A;
}

.responsive li {
    display: block;
}

h1 {
    font-size: 1.5rem;
    font-family: 'Trocchi', serif;
    color: white;
}

h2 {
    color: white;
    margin-left: 10px;
}

.logo_img {
    max-width: 60%;
    grid-column: 1;
    margin: 1em 0 0 .3em;
}

.title {
    grid-column: 2;
}

.motto {
    grid-column: 2;
    margin-top: -.5em;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    font-size: 0.8rem;
}

.heroImg {
    max-width: 100%;
    box-shadow: 0 2px 15px gray;
}

.town-data {
    background-color: white;
    padding: 15px;
}

.towns {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr;
    text-align: center;
}

.towns section {

    border: 1px solid #1F7A8C;
    box-shadow: 0 2px 15px gray;
}

.towns img {
    max-width: 95%;
    height: auto;
    box-shadow: 0 2px 15px gray;
}

.towns h4 {
    font-style: italic;
    color: white;
}

main article {
    margin: 2rem;
    padding: 2rem;
    border: 1px solid #1F7A8C;
    background-color: #E1E5F2;
    box-shadow: 0 2px 15px gray;
}

.social {
    border-radius: 10%;
    max-width: 30px;
    margin: 0 5px 0 5px;
}

.map img {
    margin: .5em auto;
    max-width: 100%;
}
