@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');


.g1{
  display: flex;
  flex-wrap: wrap;
  grid-column-template: 25% 50% 25%;
  justify-content: space-evenly;
  text-align: center;
  height: 10%;
  padding: 1%;
}

.s3{grid-column: auto; padding: 1%;justify-content: space-evenly;}
.s4{grid-column: auto; padding: 1%;justify-content: space-evenly;}
.s5{grid-column: auto; padding: 1%;justify-content: space-evenly;}

.container {
  display: flex;
  flex-wrap: wrap;
  grid-column: auto;
  justify-content: space-evenly;
  padding: 1%;
}
body {
  background-color: #EDFDF7;
}
bdu {
  color: #0b9c4e;
  }
p  {
  font-family: 'Archivo Black', sans-serif;
  color: #05061a;
  padding: 1%;
 }
b { color: #05061a}


.item1 {grid-column: auto; padding: 0.1%;}
.item2 {grid-column: auto; padding: 0.1%;}
.item3 {grid-column: auto; padding: 0.1%;}
.item4 {grid-column: auto; padding: 0.1%;}
.item5 {grid-column: auto; padding: 0.1%;}
.item6 {grid-column: auto; padding: 0.1%;}
.item7 {grid-column: auto; padding: 0.1%;}
.item8 {grid-column: auto; padding: 0.1%;}
.item9 {grid-column: auto; padding: 0.1%;}
.item10 {grid-column:auto; padding: 0.1%;}
.item11 {grid-column:auto; padding: 0.1%;}

.photos {
  display: flex;
  flex-wrap: wrap;
  height: space-evenly;
  width: space-evenly;
  grid-column: 20% 20% 20%;
  border-radius: 2% 2% 2% 2%;
  justify-content: space-around;
  padding: 0.1%;
  padding-left: 2%;
  padding-right: 2%;
    }
.itema {
  box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.1);
  transition: 0.3s;
  width: 32%;
  border-radius: 5% 5% 5% 5%;
  background-color: #EDFDF7;
  grid-column: auto;
  padding: 0.1%;
}
.itemb {box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.1);
  transition: 0.3s;
  width: 32%;
  border-radius: 5% 5% 5% 5%;
  background-color: #EDFDF7;
  grid-column: auto;
  padding: 0.1%;
}
.itemc {box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.1);
  transition: 0.3s;
  width: 32%;
  border-radius: 5% 5% 5% 5%;
  background-color: #EDFDF7;
  grid-column: auto;
  padding: 0.1%;
}
.photos2 {
  display: flex;
  flex-wrap: wrap;
  padding: 1%;
  border-radius: 5% 5% 5% 5%;
  padding-left: 2%;
  padding-right: 2%;
    }

.facebook /* Style all font awesome icons */
.fa {
  color: lightblue;
  background: #05061a;
  width: 10%;
  hight: 10%;
  text-align: space-evenly;
 }

.fa-facebook {
  width: 10%;
}

/* Google */
.fa-google {
  width: 10%;
}
/* unvisited link */
a:link {
  color: #0b9c4e;
}

/* visited link */
a:visited {
  color: #0b9c4e;
  font-weight: bold;
}

/* mouse over link */
a:hover {
  color: lightblue;
}

/* selected link */
a:active {
  color: lightblue;
}
.second { 
display: flex;
flex-wrap: wrap;
grid-gap: .25%;
grid-template:25% 75%;
Justify: space-evenly;
padding: 0.1%;
padding-left: 2%;
padding-right: 2%;
    }

.s2 { 
  display: block;
  Justify: space-evenly;
  }
.s1 { 
  display: block;
  justify: space-evenly;
  background-color: #EDFDF7;
  color: black ;
  padding: 0.1%;
}
.image {
  box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.2);
  border-radius: 1% 1% 1% 1%;
}
.card:hover {
  box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.2);
}

.C1 {
  padding: 1% 2%;
}

input[type=text] {
  width: 100%;
  padding: 5% 5%;
  margin: 8px 0;
  box-sizing: border-box;
}
input[type=number] {
  width: 100%;
  padding: 5% 5%;
  margin: 2% 2%;
  box-sizing: border-box;
}
.s11 { 
  display: block;
  background-color: #040E04;
  color:#05061a ;
  padding: 1%;
  border-radius: 2% 2% 2% 2%
  
}
.s8{
  display: flex;
  flex-wrap: wrap;
  height: 20%;
  grid-gap: 1%;
  grid-column: 20% 20%;
  grid-row: 20% 20%;
  justify-content: space-around;
  padding: 1%;
  padding-left: 2%;
  padding-right: 2%;
  border-radius: 2% 2% 2% 2%;
}
.project1{
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 20%;
  border-radius: 25px;
  background-color: #e6ffee;
  padding-left: .25%;
  padding-right: .25%
}
.project2{
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 20%;
  border-radius: 25px;
  background-color: #e6ffee;
  padding-left: .25%;
  padding-right: .25%
}
.project3{
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 20%;
  border-radius: 25px;
  background-color: #e6ffee;
  padding-left: .25%;
  padding-right: .25%
}
.project4{
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 20%;
  border-radius: 25px;
  background-color: #e6ffee;
  padding-left: .25%;
  padding-right: .25%
}
.project5{
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 20%;
  border-radius: 25px;
  background-color: #e6ffee;
  padding-left: .25%;
  padding-right: .25%
}
.s21{text-align: center;
color: black;
}
.G18{align: center}

.grid{display: block;
width: 15%;
justify: center;
align: center;}

table{
display: table;
width: 15%;
border: 2% solid #EDFDF7;
vertical-align: middle;}

      #cell-0,  #cell-1,  #cell-2  { border-top:    1px solid #FFFFFF; }
      #cell-2,  #cell-11, #cell-20 { border-right:  1px solid #FFFFFF; }
      #cell-18, #cell-19, #cell-20 { border-bottom: 1px solid #FFFFFF; }
      #cell-0,  #cell-9,  #cell-18 { border-left:   1px solid #FFFFFF; }
      #cell-3,  #cell-4,  #cell-5  { border-top:    1px solid #FFFFFF; }
      #cell-5,  #cell-14, #cell-23 { border-right:  1px solid #FFFFFF; }
      #cell-21, #cell-22, #cell-23 { border-bottom: 1px solid #FFFFFF; }
      #cell-3,  #cell-12, #cell-21 { border-left:   1px solid #FFFFFF; }
      #cell-6,  #cell-7,  #cell-8  { border-top:    1px solid #FFFFFF; }
      #cell-8,  #cell-17, #cell-26 { border-right:  1px solid #FFFFFF; }
      #cell-24, #cell-25, #cell-26 { border-bottom: 1px solid #FFFFFF; }
      #cell-6,  #cell-15, #cell-24 { border-left:   1px solid #FFFFFF; }
      #cell-27, #cell-28, #cell-29 { border-top:    1px solid #FFFFFF; }
      #cell-29, #cell-38, #cell-47 { border-right:  1px solid #FFFFFF; }
      #cell-45, #cell-46, #cell-47 { border-bottom: 1px solid #FFFFFF; }
      #cell-27, #cell-36, #cell-45 { border-left:   1px solid #FFFFFF; }
      #cell-30, #cell-31, #cell-32 { border-top:    1px solid #FFFFFF; }
      #cell-32, #cell-41, #cell-50 { border-right:  1px solid #FFFFFF; }
      #cell-48, #cell-49, #cell-50 { border-bottom: 1px solid #FFFFFF; }
      #cell-30, #cell-39, #cell-48 { border-left:   1px solid #FFFFFF; }
      #cell-33, #cell-34, #cell-35 { border-top:    1px solid #FFFFFF; }
      #cell-35, #cell-44, #cell-53 { border-right:  1px solid #FFFFFF; }
      #cell-51, #cell-52, #cell-53 { border-bottom: 1px solid #FFFFFF; }
      #cell-33, #cell-42, #cell-51 { border-left:   1px solid #FFFFFF; }
      #cell-54, #cell-55, #cell-56 { border-top:    1px solid #FFFFFF; }
      #cell-56, #cell-65, #cell-74 { border-right:  1px solid #FFFFFF; }
      #cell-72, #cell-73, #cell-74 { border-bottom: 1px solid #FFFFFF; }
      #cell-54, #cell-63, #cell-72 { border-left:   1px solid #FFFFFF; }
      #cell-57, #cell-58, #cell-59 { border-top:    1px solid #FFFFFF; }
      #cell-59, #cell-68, #cell-77 { border-right:  1px solid #FFFFFF; }
      #cell-75, #cell-76, #cell-77 { border-bottom: 1px solid #FFFFFF; }
      #cell-57, #cell-66, #cell-75 { border-left:   1px solid #FFFFFF; }
      #cell-60, #cell-61, #cell-62 { border-top:    1px solid #FFFFFF; }
      #cell-62, #cell-71, #cell-80 { border-right:  1px solid #FFFFFF; }
      #cell-78, #cell-79, #cell-80 { border-bottom: 1px solid #FFFFFF; }
      #cell-60, #cell-69, #cell-78 { border-left:   1px solid #FFFFFF; }
      }
td {
        border: 1px solid #000000;
        text-align: center;
        vertical-align: middle;  
      }
img {border-radius: 25px; padding: 5px}
