@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');


.s1{
  display: flex;
  flex-wrap: wrap;
  grid-column: 25% 50% 25%;
  text-align: center;
  padding: 0.15%;
  border-radius: 25px 25px 25px 25px;
  justify: space-evenly;
  background-color: #EDFDF7;
  color: black ;
}

.s2 { 
  display: block;
  Justify: space-evenly;
  }
{grid-column: 1;  width 15%; justify-content: left;}
.s3{grid-column: 2;  width 15%; justify-content: center;}
.s4{grid-column: 3;  width 15%; justify-content: right;}

.container {
  display: flex;
  flex-wrap: wrap;
  grid-column: auto;
  justify-content: space-evenly;
  padding: 0.25%;
}
body {
  background-color: #EDFDF7;
}
bdu {
  color: #0b9c4e;
  }
p  {
  font-family: 'Archivo Black', sans-serif;
  color: #05061a;
 }
b { color: #05061a}

.MAP {float:right}

.item1 {grid-column: auto; padding: 0.1%;}
.item2 {grid-column: auto; padding: 0.1%;}
.item3 {grid-column: auto; padding: 0.1%;}
.item4 {grid-column: auto; padding: 0.1%;}
.item5 {grid-column: auto; padding: 0.1%;}
.item6 {grid-column: auto; padding: 0.1%;}
.item7 {grid-column: auto; padding: 0.1%;}
.item8 {grid-column: auto; padding: 0.1%;}
.item9 {grid-column: auto; padding: 0.1%;}
.item10 {grid-column:auto; padding: 0.1%;}
.item11 {grid-column:auto; padding: 0.1%;}

.itema {box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.1);
  transition: 0.3s;
  width: 32%;
  border-radius: 5% 5% 5% 5%;
  background-color: #EDFDF7;
  grid-column: auto;
}
.itemb {box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.1);
  transition: 0.3s;
  width: 32%;
  border-radius: 5% 5% 5% 5%;
  background-color: #EDFDF7;
  grid-column: auto;

}
.itemc {box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.1);
  transition: 0.3s;
  width: 32%;
  border-radius: 5% 5% 5% 5%;
  background-color: #EDFDF7;
  grid-column: auto;
}
.photos2 {
  display: flex;
  flex-wrap: wrap;
  padding: 1%;
  border-radius: 5% 5% 5% 5%;
    }

.facebook /* Style all font awesome icons */
.fa {
  color: lightblue;
  background: #05061a;
  width: 10%;
  hight: 10%;
  text-align: space-evenly;
 }

.fa-facebook {
  width: 10%;
}

/* Google */
.fa-google {
  width: 10%;
}
/* unvisited link */
a:link {
  color: #0b9c4e;
}

/* visited link */
a:visited {
  color: #0b9c4e;
  font-weight: bold;
}

/* mouse over link */
a:hover {
  color: lightblue;
}

/* selected link */
a:active {
  color: lightblue;
}
.second { 
display: flex;
flex-wrap: wrap;
grid-gap: 1%;
grid-template:25% 75%;
Justify: space-evenly;
    }


.image {
  box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.2);
  border-radius: 1% 1% 1% 1%;
}
.card:hover {
  box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.2);
}

.C1 {
  padding: 1% 1% 1% 1%;
}

input[type=text] {
  width: 100%;
  padding: 5% 5% 5% 5%;
  margin: 8px 8px 8px 8px;
  box-sizing: border-box;
}
input[type=number] {
  width: 100%;
  padding: 5% 5% 5% 5%;
  margin: 2% 2%;
  box-sizing: border-box;
}
.s11 { 
  display: block;
  background-color: #040E04;
  color:#05061a ;
  padding: 1%;
  border-radius: 2% 2% 2% 2%
  
}
.s8{
  display: flex;
  flex-wrap: wrap;
  height: 20%;
  grid-gap: 1%;
  grid-column: 20% 20%;
  grid-row: 20% 20%;
  justify-content: space-around;
  padding: 1%;
  padding-left: 2%;
  padding-right: 2%;
  border-radius: 2% 2% 2% 2%;
}

.s21{text-align: center;
color: black;
}
.G18{align: center}

.grid{display: block;
width: 15%;
justify: center;
align: center;}

table{
display: table;
width: 15%;
border: 2% solid #EDFDF7;
vertical-align: middle;}

td {
        border: 1px solid #000000;
        text-align: center;
        vertical-align: middle;  
      }
img {position: relative; text-align: center; center; width:75% border-radius: 25px; padding: 5px 5px 5px 5px}

/* Container holding the image and the text */

/* Centered text */
.picture {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.summary2{
    top: 5%;
    right: 20%;
    width: 20%;
    background-color: #0A5C9A;
    padding: 1em;
    color: red;
    border-radius: 1%;
    box-shadow: 1px 1px 5px rgb(44 44 44);
    opacity: .6;
}
/* Container holding the image and the text */
.container2 {
  position: relative;
  text-align: center;
  color: white;
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}