@media only screen and (min-width: 33.5em){
  }
h1{
  font-size: 25px;
}
h2{
  font-size: 20px;
}
h3{
  font-size: 15px;
}
h4, p{
  font-size: 20px;
  margin-left: 5px;
}
h5{
  font-size: 20px;
}
  main{
    grid-template-columns: repeat(2, 1fr);
  }
}
.photos {
  grid-template-columns: repeat(2, 1fr);
  display: flex;
  flex-wrap: wrap;
  height: space-evenly;
  width: space-evenly;
  border-radius: 2% 2% 2% 2%;
  justify-content: space-around;
    }
img{ width: 75%; height: 75%}