@media only screen and (min-width: 33.5em){
  }
h1{
  font-size: 35px;
}
h2{
  font-size: 25px;
}
h3{
  font-size: 15px;
}
h4, p{
  font-size: 25px;
  margin-left: 5px;
}
h5{
  font-size: 20px;
}
  main{
    grid-template-columns: repeat(2, 1fr);
  }
}