
body {
  font-family: "Oswald", sans-serif;
  margin: auto;
  padding: 1%;
}
h1{
  font-size: 15px;
}
h2{
  font-size: 13px;
  margin: 5px;
}
h3{
  font-size: 11px;
}
h4, p{
  font-size: 11px;
  margin-left: 5px;
}
h5{
  font-size: 10px;
}
header, footer{
  background-color: #404e4d;
  padding: 5px;
  text-align: center;
  font-family: "Yellowtail", Garamond, serif;
  color: #F4F6F6;
}
main{
  margin: 10px;
  display:flex;
  flex-wrap: wrap;
  grid-template-columns: repeat(1fr, 1fr);
  grid-gap: 1%;
}
h3{
  background-color: #536564;
  color: #F4F6F6;
  padding: 5px;
  margin-top: 0px;
  border-radius: 6px 6px 6px 6px;
}
.design-princ{
  border: #536564 2px solid;
  border-radius: 10px;
  background-color: #F4F6F6;
}
.mobile-pic{
  width: 95%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: #536564 2px solid;
}
footer a:link {
  color:#F4F6F6;
}
footer a:visited {
  color: #F7D3B5;
}
h4{
  background-color: #536564;
  color: #F4F6F6;
  padding: 5px;
  margin-top: 0px;
  border-radius: 6px 6px 6px 6px;
}