form {
  font: 1em sans-serif;
  max-width: 320px;
}

.grid {
	display: grid;
	grid-gap: .5rem;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

p > label {
  display: block;
}

input[type="text"],
input[type="email"],
input[type="number"],
textarea,
fieldset {
  width : 100%;
  border: 1px solid #333;
  box-sizing: border-box;
}

input:invalid {
  box-shadow: 0 0 5px 1px blue;
}

input:focus:invalid {
  box-shadow: none;
}
body {
	height: 100vh;
	font-size: 16px;
	font-family: Montserrat, helvetica, sans-serif;
}