@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Open+Sans&display=swap");

body {
  font-family: "Open Sans", sans-serif;
  margin: auto;
  padding: 16px;
}
header, footer{
  background-color: #3B4354;
  padding: 5px;
  text-align: center;
  font-family: "Kaushan Script", Garamond, serif;
  color: #F7D3B5;
  border-radius: 10px;
}
img {
  border-radius: 8px;
  width: 95%;
  padding: 5px;
  align-items: center;
}
h1{
 font-size: 10vw;
}
main{
  padding: 20px; 
}
main a:link{
  color: #404e4d;
}
main a:visited{
  color: #6b0504;
}
h2{
  font-size: 7vw;
  text-align: center;
}
footer a:link {
  color: #F7D3B5;
}
footer a:visited {
  color: #88a2aa;
}
h4{
  background-color: #536564;
  color: #F4F6F6;
  padding: 5px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 6px 6px 6px 6px;
}


