
body {
  font-family: "Oswald", sans-serif;
  margin: auto;
  padding: 16px;
}
h1{
  font-size: 7vw;
  border-radius: 8px;
}
h2{
  font-size: 5vw;
}
h3{
  font-size: 20px;
}
h4, p{
  font-size: 18px;
  margin-left: 5px;
  margin-right: 5px;
}
header, footer{
  background-color: #404e4d;
  padding: 5px;
  text-align: center;
  font-family: "Yellowtail", Garamond, serif;
  color: #F4F6F6;
  border-radius: 8px;
}
main{
  margin: 10px;
  display:grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 1em;
}
h3{
  background-color: #536564;
  color: #F4F6F6;
  padding: 5px;
  text-align: center;
  margin-top: 10px;
  border-radius: 6px 6px 6px 6px;
}
.design-princ{
  border: #536564 2px solid;
  border-radius: 10px;
  background-color: #F4F6F6;
}
.mobile-pic{
  width: 95%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: #536564 2px solid;
}
footer a:link {
  color:#F4F6F6;
}
footer a:visited {
  color: #F7D3B5;
}
img {
  border-radius: 8px;
  width: 80%;
  padding: 5px;
  align-items: center;
}
h4{
  background-color: #536564;
  color: #F4F6F6;
  padding: 5px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 6px 6px 6px 6px;
}