.maps {
  grid-template-columns: repeat(2, 1fr);
  display: grid;
  flex-wrap: wrap;
  height: space-evenly;
  width: space-evenly;
  border-radius: 2% 2% 2% 2%;
  justify-content: space-around;
}
#map { width: 55%; height: 55% }